<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brillion.libs.martyweb" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">

        <activity android:name=".MWActivity"/>
    </application>
</manifest>
